---
const COLOMBIA = 'CO'

const country = Astro.request.headers.get('X-Vercel-IP-Country') ?? 'CO'; // Obtener el pais de la persona que visita el sitio.

const storeCountry = country === COLOMBIA ? 'Colombia' : ''; // Esto mas que todo por si en el markdown pues se añaden mas paises.
const countryName = country === COLOMBIA ? 'Colombia' : '';

const { buy } = Astro.props;      
const url = buy[storeCountry];
---

<a href={url} target="_blank" class="rounded-full p-1 bg-orange-400 hover:bg-orange-500 text-center">Comprar en Amazon {countryName}</a>